useDynLib(fim4r)

export(fim4r.fim)
export(fim4r.arules)
export(fim4r.apriori)
export(fim4r.eclat)
export(fim4r.fpgrowth)
export(fim4r.sam)
export(fim4r.relim)
export(fim4r.carpenter)
export(fim4r.ista)
export(fim4r.genpsp)
export(fim4r.estpsp)
export(fim4r.psp2bdr)
export(fim4r.patred)
